# Template Kredensial Akun Kemnaker
KEMNAKER_USERNAME=isi_nik_atau_email_anda
KEMNAKER_PASSWORD=isi_password_anda

# Koordinat Lokasi Magang (Contoh: -7.8981812, 110.0499084)
OFFICE_LAT=-7.8981812
OFFICE_LONG=110.0499084

# Bot Telegram Notifikasi
TELEGRAM_BOT_TOKEN=isi_token_botfather
TELEGRAM_CHAT_ID=isi_chat_id_anda

# Cloudflare Reverse Proxy untuk bypass blokir 403 Vercel
CLOUDFLARE_WORKER_URL=https://monev-proxy.adabtasi-baru.workers.dev
