# Template Kredensial Akun Kemnaker
KEMNAKER_USERNAME=isi_nik_atau_email_anda
KEMNAKER_PASSWORD=isi_password_anda

# Koordinat Lokasi Magang (Contoh: -7.8981812, 110.0499084)
OFFICE_LAT=-7.8981812
OFFICE_LONG=110.0499084

# Bot Telegram Notifikasi
TELEGRAM_BOT_TOKEN=isi_token_botfather
TELEGRAM_CHAT_ID=isi_chat_id_anda

# Proxy Indonesia (Opsional, gunakan jika server cloud Anda di luar negeri diblokir Kemnaker HTTP 403)
# Format: http://ip:port atau http://username:password@ip:port
INDONESIA_PROXY=

# Cloudflare Worker Reverse Proxy (Opsional, jembatan gratis untuk bypass blokir 403 di Vercel)
# Format: https://nama-worker.user.workers.dev
CLOUDFLARE_WORKER_URL=
